/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

body {
  /* Nombre de la fuente raleway */
  font-family: 'Raleway', sans-serif;
  /* En todo el body me centrara el texto */
  text-align: center;
}
header {
  background-color: #fff;
  /* Posición estático */
  position: fixed;
  /* Alineara a la izquierda */
  text-align: left;
  top: 0;
  width: 100%;
}
header .menu {
  margin: 30px;
  margin-bottom: 40px;
  margin-left: 66px;
  font-size: 16px;
  font-weight: bold;
}
header .menu a {
  /* separar los enlaces */
  margin: 0 15px;
}
header .logo {
  float: right;
  height: 70px;
  margin-right: 66px;
  margin-top: 10px;
  width: 70px;
}
/* convertir la imagen a block */
header .logo img {
  display: block;
  width: 100%;
}
.hero {
  /* insertar imagen como fondo */
  background-image: url(../assets/images/bg-home.jpg);
  /* no se rapetira */
  background-repeat: no-repeat;
  /* intenta que el fondo llene al elemento */
  background-size: cover;
  margin-top: 87px;
  height: 547px;
}
.hero h1 {
  /* tamaño de fuente para el titulo*/
  font-size: 52px;
}
.hero h2 { 
  margin: 70px 0 50px;
} 
.hero p {
  margin-bottom: 85px; 
}
.button {
  background-color: #2Ecc71;
  color: white;
  font-size: 14px;
  font-weight: 500;
  /* convertir de inline a inline block */
  display: inline-block;
  padding: 10px 18px;
}
/* cuando pasemos el mouse cambiara de color */
.button:hover {
  background-color: #fff;
  color: #2Ecc71;
}
/* seleccionamos a dos elementos que estan en la misma altura */
.hero, .services {
  color: #fff; 
}
.services {
  background-color: #f17c72;
}
.services h2 {
  font-size: 36px;
  margin: 77px 0 35px;
}
.service {
  /* convertir de block a inline-block */
  display: inline-block;
  margin: 0 70px 84px;
}
.service img {
  margin: 70px 0 20px;
  /* ancho de imagen */
  width: 200px;
}
.work h2 {
  font-size: 36px;
  margin: 72px 0 30px;
}
.work h4 {
  margin-bottom: 45px;
}
.work .big-image {
  /* convertir a block */
  display: block;
  /* centrar  */
  margin: auto;
  /* ancho para la imagen */
  width: 80%;
}
.work .box {
  display: inline-block;
  margin: 30px;
  width: 300px;
}
.work .box img {
  display: block;
  width: 100%;
}
.work .proyect-name {
  color: #444;
  font-weight: bold;
  padding: 20px 0 0;
  text-transform: uppercase;
}
footer {
  background-color: #373b47;
  color: #fff;
  margin: 80px 0 0;
  padding: 20px 0;
}