/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

body {
  font-family: 'Raleway', sans-serif;
}
header {
  height: 90px;
  overflow: auto;
}
header .menu {
  display: inline-block;
  margin: 30px;
  font-weight: bol;
}
header .menu a {
  margin: 0 15px;
}
header .logo img[alt="logo"] {
  float: right;
  height: 70px;
  width: 70px; 
  position: absolute;
  right: 5%;
  top: 40px;
  transform: translateY(-35px);
}
.home {
  background-image: url(../assets/images/bg-home.jpg);
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}
.home .button a {
  background-color: green;
  color: white;
  padding: 5px;
}